/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: rgb(44, 44, 44);
}

/* Font */
.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Header */
header {
    background-color: rgb(44, 44, 44);
    color: #242424;
    padding: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    box-shadow: 2px 2px 2px rgba(139, 139, 139, 0.2);
    flex-wrap: wrap;

}

.topbutton {
    color: #9feafe;
    background: transparent;
    border: 1px solid transparent;
    font-size: 1.2rem; /* Larger font size for buttons */
    border-radius: 15px;
    padding: 12px 25px; /* Increased padding for better size */
    cursor: pointer;
    transition: all 0.2s ease;
}

.topbutton:hover {
    border-color: #72f0e0;
}

/* Social Icons */

.icon-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.social:hover {
    transform: scale(1.1);
}

/* Main Content */

h1 {
    color: rgb(207, 252, 232);
    font-size: 4em; /* Increased font size for header */
    margin: 0 0 15px;
}

h2 {
    color: white;
    font-size: 2.2em;
    margin: 15px 0;
}

p {
    font-size: 1.3em; /* Slightly larger paragraph text */
    line-height: 1.8;
    margin: 0 0 20px;
}